name: pingpong_over_app
description: Minimal Flutter app that fetches table tennis matches and estimates Over 74.5 probability.
publish_to: "none"
version: 0.1.0+1
environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true